// Breakpoints
// --------------------------------------------------------------------------

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

// Icons
// --------------------------------------------------------------------------

$icomoon-font-path: "../fonts/icon" !default;

$icon-douban: "\e902";
$icon-google-drive: "\e900";
$icon-telegram: "\e901";
$icon-envelope-o: "\f003";
$icon-twitter: "\f099";
$icon-github: "\f09b";
$icon-envelope: "\f0e0";
$icon-instagram: "\f16d";
$icon-medium: "\f23a";
$icon-get-pocket: "\f265";
